{% extends "main_library/base_generic.html" %}

{% block content %}
    <h1>Books</h1>
    <ul id="books-container">
        {% include 'main_library/book_list.html' %}
    </ul>
{% endblock %}

{% block javascript %}
    <script>
        (function update() {
            $.ajax({
                url: '{% url 'book-list' %}',
                type: "GET",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function (data) {
                    console.log("success getting books");
                    $('#books-container').html(data);
                }
            }).then(function() {
                setTimeout(update, 3000);
            });
        })();

        (function create_book() {
            $.ajax({
                url: '{% url 'create-random-book' %}',
                type: "GET"
            }).then(function() {
                setTimeout(create_book, 5000);
            });
        })();
    </script>
{% endblock %}